[submodule "submodule/Look4LTRs"]
	path = submodule/Look4LTRs
	url = https://github.com/unavailable-2374/Look4LTRs.git
[submodule "submodule/FastGA"]
	path = submodule/FastGA
	url = https://github.com/thegenemyers/FASTGA.git
[submodule "ClassifyTE"]
	path = ClassifyTE
	url = https://github.com/unavailable-2374/ClassifyTE.git
